.p1{
    width: 300px;
    height: 200px;
    background-color: green;
    border: 5px solid black;
    /* position: relative; */
}

.t1 {
    width: 50px;
    background-color: blue;
    /* position: static; default */
    /* position: relative; */
    /* top: 50px;
    right: 20px;
    left: 0px;
    bottom: 200px; */
    /* position:absolute;
    right: 0px; */
    /* position:fixed;
    right: 0px;
    bottom: 0px; */
    position:sticky;
    top: 30px;
    
    
    
}

.t2 {
    width: 50px;
    background-color: red;
}