p {
    width: 70%;
    background-color: black;
    color: white;
    padding: 10px;
    position: relative;
}

p::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: aqua;
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: red;
    color: white;
    padding: 10px; */
}

p::before {
    content: "";
    height: 100%;
    width: 5px;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    /* color: white;
    padding: 10px; */
}