*{
    margin: 0;
    padding: 0;
}

.All{
    display: inline-block;
    width: 25%;
    background-color: red;
}

@media screen and (max-width: 400px) {
    .All{
        display: block;
        width: 100%;
    }
    body{
        background-color: green;
    }
}

@media screen and (min-width: 401px) and (max-width: 600px) {
    body{
        background-color: magenta;
    }
}

@media screen and (min-width: 601px) and (max-width: 10800px) {
    body{
        background-color: yellow;
    }
}