.img{
    height: 500px;
    width: 350px;
    border: 4px solid black;
    background-color: aqua;
    background-color: rgb(198, 12, 230);
    background-color: rgba(198, 12, 230, 0.4);
    background-color: #FFFFFF; 
    background-image: url("media/zoro.png");
    background-size: contain;
    background-size: 150px 200px;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: 0px 10px;


} 