.div1 {
    background-color: aqua;
    width: 300px;
    height: 50px;
    margin: 10px;
    display: inline-block;

}

.div2 {
    background-color: red;
    margin: 10px;
    width: 300px;
    height: 50px;
    display: inline-block;
}

.div3 {
    background-color: green;
    margin: 10px;
    width: 300px;
    height: 50px;
    display: inline-block;
}

/*  No change in Dimensions in inline element */

.span1 {
    background-color: aqua;
    width: 200px;
    height: 50px;

    padding: 0px 40px;
    margin: 0px 10px;
    display: inline-block;
}

.span2 {
    background-color: red;
    width: 300px;
    height: 50px;

    padding: 0px 40px;
    margin: 0px 10px;
    display: inline-block;
}

.span3 {
    background-color: green;
    width: 300px;
    height: 50px;

    padding: 0px 40px;
    margin: 0px 10px;
    display: inline-block;
}